{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - {{ contact_company }}{% endblock %}

{% block content %}
<div class="formulaire col-md-6">
    <div id="account-fgt-pwd">
        <p class="h2">Modifier mon mot de passe</p>
        
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{  form(form) }}  
        <div class="buttons">
            <a href="{{ path('account') }}">Retourner à mon compte</a>
        </div>
    </div>
</div>


{% endblock %}
