{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - {{ contact_company }}{% endblock %}

{% block content %}

<div class="container">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="formulaire col-md-6">
        <form id="form-forgot-pwd" method="post">
            <h1 class="h2">Réinitialiser mon mot de passe</h1>
            <label for="inputEmail">Votre Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="buttons">
                    <button class="btn btn-main" type="submit">
                        Valider
                    </button>
                    <p><a class="btn btn-second" href="{{ path('app_login') }}">Me connecter</a></p>
            </div>
        </form>
    </div>
</div>


{% endblock %}
