body {
    background: $dark-color;
}

h1, .h1 {
    font-family: $font;
    font-size: 120px;
    font-weight: 800;
    line-height: 99px;
    text-transform: uppercase;
    color: $white-color;
    @media (max-width: 768px) {
        font-size: 50px;
        line-height: 45px;
    }
}
h2, .h2 {
    font-family: $font;
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    text-transform: uppercase;
    color: $white-color;
    @media (max-width: 768px) {
        font-size: 40px;
        line-height: 45px;
    }
}
h3, .h3 {
    font-family: $font;
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    text-transform: uppercase;
    color: $white-color;
    @media (max-width: 768px) {
        font-size: 40px;
        line-height: 49px;
    }
}
h4, .h4 {
    font-family: $font;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
    color: $white-color;
    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 40px;
    }
}
.seo {
    font-family: $second-font;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.6px;
    text-transform: uppercase;
}
.title {
    font-family: $font;
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $white-color;
}
div {
    color: $white-color;
}
p, .p {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $white-color;
}
p.p-bold {
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $white-color;
}
p.p-space {
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: $white-color;
}
.specific {
    font-family: $second-font;
    font-size: 41px;
    font-weight: 400;
    color: $white-color;
}
.btn-main {
    background-color: $main-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: $white-color;
    text-decoration: none;
    &:hover {
        background-color: $hover-color;
        color: $white-color;
        text-decoration: none;
    }
}

// .a-link {
//     color: $main-color;
//     font-size: 17px;
//     font-weight: 800;
//     line-height: 27px;
//     letter-spacing: 1.7px;
//     text-transform: uppercase;
//     text-shadow: $neon;
//     transform: translateX(10px);

//     &::after {
//         content: url("../../assets/img/fleche-btn.svg");
//     }
    
//     &:hover {
//         text-decoration: none;
//         color: $main-color;
//         &::after svg{
//             transform: translate(-50%, -50%) scale(1.2);
//         }
//     }
// }

.a-link {
    color: $main-color;
    font-size: 17px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    padding: 1rem 0;
}

.a-link::after {
    content: url("../../assets/img/fleche-btn.svg");
    margin-left: .5rem;
}

.a-link:hover {
    text-decoration: none;
    color: $main-color;
}

// .a-link:hover::after {
//     content: url("../../assets/img/fleche-btn-hover.svg");
// }

.main {
    color: $main-color;
}

.link-finder {
    cursor: pointer;
}

.amber {
    background-color: $amber !important;
    &-color {
        color: $amber !important;
    }
}
.stuut {
    background-color: $stuut !important;
    &-color {
        color: $stuut !important;
    }
}
.leak {
    background-color: $leak !important;
    &-color {
        color: $leak !important;
    }
}
.white {
    background-color: $white !important;
    &-color {
        color: $white !important;
    }
}
.blonde {
    background-color: $blonde !important;
    &-color {
        color: $blonde !important;
    }
}