body {
    background: $dark-color;
}

h1, .h1 {
    font-family: $font;
    font-size: 120px;
    font-weight: 800;
    line-height: 99px;
    text-transform: uppercase;
    color: $white-color;
}
h2, .h2 {
    font-family: $font;
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    text-transform: uppercase;
    color: $white-color;
}
h3, .h3 {
    font-family: $font;
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    text-transform: uppercase;
    color: $white-color;
}
h4, .h4 {
    font-family: $font;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
    color: $white-color;
}
.seo {
    font-size: 13px;
    font-family: $second-font;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: $white-color;
}
.title {
    font-family: $font;
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $white-color;
}
div {
    color: $white-color;
}
p, .p {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $white-color;
}
p.p-bold {
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $white-color;
}
p.p-space {
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: $white-color;
}
.specific {
    font-family: $second-font;
    font-size: 41px;
    font-weight: 400;
    color: $white-color;
}

// .a-link {
//     color: $main-color;
//     font-size: 17px;
//     font-weight: 800;
//     line-height: 27px;
//     letter-spacing: 1.7px;
//     text-transform: uppercase;
//     text-shadow: $neon;
//     transform: translateX(10px);

//     &::after {
//         content: url("../../assets/img/fleche-btn.svg");
//     }
    
//     &:hover {
//         text-decoration: none;
//         color: $main-color;
//         &::after svg{
//             transform: translate(-50%, -50%) scale(1.2);
//         }
//     }
// }

.a-link {
    color: $main-color;
    font-size: 17px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-shadow: $neon;
    transform: translateX(10px);
    position: relative;
    display: inline-block;
}

.a-link::after {
    content: url("../../assets/img/fleche-btn.svg");
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.a-link:hover {
    text-decoration: none;
    color: $main-color;
}

.a-link:hover::after {
    content: url("../../assets/img/fleche-btn-hover.svg");
    transform: translate(50%, 50%) scale(1.5, 1);
}