@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$main-color: #e600ff;
$hover-color: #6b0068;
$dark-color: #2d2d2d;
$white-color: #f9f9f9;
$grey-color: #989898;
$amber: #d2691e;
$stuut: #573939;
$leak: #dc143c;
$white: #f5f5dc;
$blonde: #daa520;

$font: 'Open Sans';
$second-font: 'Bungee';
