{% extends 'base.html.twig' %}

{% block title %}Nos categories -
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Nos categories</h1>
            <div class="row">
                {% for category in categories %}
                    <div class="col-md-3">
                        <a href="{{ path('category', { 'slug' : category.slug }) }}">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
	

{% endblock %}
