{% extends 'base.html.twig' %}

{% block title %}Tous nos produits - {{ contact_company }}
{% endblock %}

{% block content %}

<div id="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h2">Découvrir tous nos produits</h1>
                <div class="row filter">
                    <p class="h3">Filtrer<i class="filter-arrow fa-solid fa-circle-chevron-down" style="color: #e600ff;"></i></p>
                    <div id="search-form">
                        {{form(form)}}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="container">
                    <div class="row">   
                        {% for product in products %}
                            <div class="col-md-4">
                                {% include 'product/miniature-slider.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
