.product-miniature {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    &_content {
        width: 80%;
        @media (max-width: 768px) {
            width: 90%;
        }
        padding: 1rem 0;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        &-text {
            padding: 1rem 0;
            &-title {
                text-align: center;
                color: $white-color;
                font-family: $font;
                font-size: 30px;
                font-weight: 800;
                line-height: 43px;
                text-transform: uppercase;
                margin: 0;
            }
            &-link {
                display: flex;
                justify-content: center;
                color: $main-color;
                font-family: $font;
                font-size: 15px;
                font-weight: 800;
                line-height: 27px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                text-decoration: underline;
                text-decoration-line: underline;text-decoration-thickness: 2.5px;
                text-underline-offset: 0.3rem;

                &:hover {
                    color: $white-color;
                    text-decoration: underline;
                    text-decoration-line: underline;text-decoration-thickness: 2.5px;
                    text-underline-offset: 0.3rem;
                }
            }
        }
    }
    &_img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.slick-prev {
    top: 40%;
    left: 100px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}
.slick-next {
    top: 40%;
    right: 100px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 1rem 0;
    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: .4rem;
        height: .4rem;
        padding: 0;
        
        border: none;
        border-radius: 100%;
        background-color: $grey-color;
        text-indent: -9999px;
    }

    li.slick-active button {
        width: .5rem;
        height: .5rem;
        background-color: $white-color;
    }
}