<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="accept-consent" class="modal-body">
                <img src="{{  asset('assets/img/logo-chtimiste.png') }}">
                <p>Attention ! Ce site est soumis à une limite d'âge. Avez-vous plus de 18 ans ?</p>
                <button class="btn-main" id="acceptButton">Oui, j'ai plus de 18 ans</button>
            </div>
        </div>
    </div>
</div>